* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.container {
    /* Used to position the stacked cards */
    position: relative;
    width: 40%;
    height: 80%;

}

.container__card {
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Displayed under the container */
    z-index: -1;

    /* Background and border colors */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30%;

    /* Rotate it. Change the number of degrees for the following cards */
    /* transform: rotate(5deg); */

    transition: all 1s ease;

}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.card {
    padding: 90px 40px;

}


.choice {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgb(105, 105, 105);
    font-size: 25px;
    padding: 20px 0;
}

.choice-value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.choice h3 {
    margin-bottom: 50px;
    color: rgb(7, 173, 173);
}

.choice p span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(162, 91, 4);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-container button {
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(162, 91, 4);
    cursor: pointer;
    width: 150px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 9px 20px 4px #eee;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.btn-container button:hover {
    background-color: rgb(162, 91, 4);
    border: 1px solid #fff;
    color: #fff;
}